/*--------------------------------------------------------------
HTML Styling
--------------------------------------------------------------*/

html {
	
	background-color:#603;
	padding:50px;
	margin:20px;
}

/*--------------------------------------------------------------
Body Styling
--------------------------------------------------------------*/

body {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	padding: 20px;
	background-color:#FCF
}

body nav menu {
	background-color:#96C;
}

body nav menu li a button {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
}

body form input {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
}

body form textarea {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;	
}

body form a button {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
}

/*--------------------------------------------------------------
Details Styling
--------------------------------------------------------------*/
menu {
		margin:0;
		padding:0;
}

li {
		display:inline;
}

li.plus {
		display:block;
}

